<div class="category flex-column">
    <div class="border-bottom-light-gray flex-align-items-center flex-justify-content-space-between flex-row">
        <div class="font-large">{{ category.name }}</div>
        <div (click)="deleteCategory(category)" class="font-large hover-cursor-pointer">x</div>
    </div>
    <div *ngFor="let task of tasks">
        <app-task [task]="task" (deleteTaskEvent)="deleteTask($event)"></app-task>
    </div>
    <div class="new-task flex-row">
        <div #newTaskButton [hidden]="!newTaskInputHidden" (click)="showNewTaskInput()"class="font-medium font-light-gray hover-cursor-pointer hover-font-dark-gray">+ add task</div>
        <input #newTaskInput [hidden]="newTaskInputHidden" (keydown.enter)="addTask(newTaskInput.value); newTaskInput.value=''" class="border-radius-5px font-medium focus-border-dark-gray"/>
    </div>
</div>
