.task {
    padding: 0px 10px;
}
.task-checkbox {
  margin-right: 15px;
  padding-bottom: 8px;
  padding-top: 16px;
}
.task-due-date-section {
    height: 50px;
    padding-left: 10px;
    min-width: 150px;
}
.task-name {
    width: 100%;
}
.task-name-section {
  height: 50px;
  padding-right: 20px;
}
.task-priority-section {
  height: 50px;
}
.task-priority {
  height: 20px;
  margin: 0px 10px;
  width: 100px;
}
.task-priority-option {
  height: 20px;
  line-height: 20px;
  padding: 0px;
  width: 100px;
}