<div [ngClass]="{'translucent': task.completed}" class="task border-bottom-light-gray font-medium flex-align-items-center flex-grow flex-row">
    <div class="task-name-section border-right-light-gray flex-align-items-center flex-grow flex-row">
        <div class="task-checkbox">
            <mat-checkbox [checked]="task.completed" (change)="updateTaskCompleted()">
            </mat-checkbox>
        </div>
        <input #taskNameInput [ngClass]="{'text-decoration-line-through': task.completed}" (keydown.enter)="updateTaskName(taskNameInput.value)" class="task-name-input flex-grow hover-cursor-pointer overflow-ellipsis" value="{{ task.name }}" />
    </div>
    <div class="task-priority-section border-right-light-gray flex-align-items-center flex-row">
        <button matRipple
                [matRippleColor]="gray"
                [matRippleCentered]="true"
                [matMenuTriggerFor]="menu"
                [ngClass]="
                {
                    'background-light-gray': task.priority == 0,
                    'background-light-green': task.priority == 1,
                    'background-yellow-green': task.priority == 2,
                    'background-gold': task.priority == 3,
                    'background-orange': task.priority == 4,
                    'background-red': task.priority == 5
                }"
                class="task-priority border-radius-10px font-medium font-white hover-cursor-pointer text-align-center">
            {{ priorityToString(task.priority) }}
        </button>
        <mat-menu #menu="matMenu">
            <div *ngFor="let priority of [0,1,2,3,4,5]" mat-menu-item (click)="updateTaskPriority(priority)">
                <button matRipple
                        [matRippleColor]="gray"
                        [matRippleCentered]="true"
                        [ngClass]="
                        {
                            'background-light-gray': priority == 0,
                            'background-light-green': priority == 1,
                            'background-yellow-green': priority == 2,
                            'background-gold': priority == 3,
                            'background-orange': priority == 4,
                            'background-red': priority == 5
                        }"
                        class="task-priority-option background-light-gray border-radius-10px font-medium font-white hover-cursor-pointer text-align-center">
                    {{ priorityToString(priority) }}
                </button>
            </div>
        </mat-menu>
    </div>
    <div class="task-due-date-section border-right-light-gray flex-align-items-center flex-justify-content-space-between flex-row">
        <div *ngIf="task.dueDateStart">{{ parseUTCDate(task.dueDateStart) }}</div>
        <div *ngIf="!task.dueDateStart"></div>
        <div>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-form-field style="width:1px;visibility:hidden;" color="accent" appearance="fill">
                <input matInput [matDatepicker]="startDatePicker" (dateChange)="updateTaskDueDateStart($event)" value="{{ task.dueDateStart }}">
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="task-due-date-section border-right-light-gray flex-align-items-center flex-justify-content-space-between flex-row">
        <div *ngIf="task.dueDateEnd">{{ parseUTCDate(task.dueDateEnd) }}</div>
        <div *ngIf="!task.dueDateEnd"></div>
        <div>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-form-field style="width:1px;visibility:hidden;" color="accent" appearance="fill">
                <input matInput [matDatepicker]="endDatePicker" (dateChange)="updateTaskDueDateEnd($event)" value="{{ task.dueDateEnd }}">
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <button mat-icon-button (click)="deleteTask(task)" class="font-small hover-cursor-pointer">x</button>
</div>
