body {
  margin: 0px;
  padding: 0px;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
}
.flex-align-items-baseline {
    align-items: baseline;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.font-large {
  font-size: 20px;
}
.font-medium {
  font-size: 15px;
}
.font-small {
  font-size: 12px;
}
.font-very-large {
  font-size: 30px;
}
.font-very-small {
  font-size: 10px;
}

