body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
button {
  background-color: transparent;
  border: none;
  padding: 0px;
}
button:focus {
    outline: none;
}
input {
  border: none;
  padding: 0px;
}
input:focus {
  outline: none;
}
p {
  margin: 0px;
}
.background-light-gray {
  background-color: lightgray;
}
.background-yellow-green {
  background-color: greenyellow;
}
.background-light-green {
  background-color: lightgreen;
}
.background-orange{
  background-color: orange;
}
.background-red {
  background-color: red;
}
.background-gold {
  background-color: gold;
}
.border-bottom-light-gray {
  border-bottom: 2px solid #f0f0f0;
}
.border-circle {
  border-radius: 50%;
}
.border-full-light-gray {
  border: 2px solid #f0f0f0;
}
.border-full-white {
  border: 2px solid white;
}
.border-right-light-gray {
  border-right: 2px solid #f0f0f0;
}
.border-top-light-gray {
  border-top: 2px solid #f0f0f0;
}
.border-radius-10px {
  border-radius: 10px;
}
.border-radius-5px {
  border-radius: 5px;
}
.flex-align-items-baseline {
  align-items: baseline;
}
.flex-align-items-center {
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}
.flex-justify-content-space-between {
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.focus-border-dark-gray:focus {
  border: 2px solid #9e9e9e !important;
}
.font-large {
  font-size: 20px;
}
.font-light-gray {
  color: #9e9e9e;
}
.font-medium {
  font-size: 15px;
}
.font-small {
  font-size: 12px;
}
.font-very-large {
  font-size: 30px;
}
.font-very-small {
  font-size: 10px;
}
.font-white {
    color: white;
}
.hover-border-light-gray:hover {
    border: 2px solid #f0f0f0;
}
.hover-cursor-pointer:hover {
  cursor: pointer;
}
.hover-font-dark-gray:hover {
  color: #3f3f3f;
}
.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-decoration-line-through {
    text-decoration: line-through;
}
.text-align-center {
    text-align: center
}
.translucent {
    opacity: 0.5;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
