<div class="project flex-grow">
    <app-category *ngFor="let category of categories" [category]="category" (deleteCategoryEvent)="deleteCategory($event)"></app-category>
    <div class="new-category flex-row">
        <div #newCategoryButton [hidden]="!newCategoryInputHidden" (click)="showNewCategoryInput()" class="new-category-button border-full-white font-large font-light-gray hover-cursor-pointer hover-font-dark-gray">+ Add category</div>
        <input #newCategoryInput [hidden]="newCategoryInputHidden" (keydown.enter)="addCategory(newCategoryInput.value); newCategoryInput.value=''" class="new-category-input border-radius-5px focus-border-dark-gray font-large" />
    </div>
</div>