<div class="project flex-column flex-grow">
    <div class="navigation-bar">
        <div *ngIf="project" (click)="openProjectEditDialog()"class="font-very-large">{{ project.name }}</div>
    </div>
    <div class="header border-bottom-light-gray border-top-light-gray flex-row">
        <div class="header-name  border-left-light-gray border-right-light-gray flex-grow font-medium">Name</div>
        <div class="header-priority  border-right-light-gray font-medium">Priority</div>
        <div class="header-due-date  border-right-light-gray font-medium">Starting Due Date</div>
        <div class="header-due-date  border-right-light-gray font-medium">Ending Due Date</div>
    </div>
    <div class="categories flex-grow">
        <div *ngFor="let category of categories">
            <app-category [category]="category" (deleteCategoryEvent)="deleteCategory($event)"></app-category>
        </div>
        <div class="new-category flex-row">
            <div #newCategoryButton [hidden]="!newCategoryInputHidden" (click)="showNewCategoryInput()" class="new-category-button border-full-white font-large font-light-gray hover-cursor-pointer hover-font-dark-gray">+ Add category</div>
            <input #newCategoryInput [hidden]="newCategoryInputHidden" (keydown.enter)="addCategory(newCategoryInput.value); newCategoryInput.value=''" class="new-category-input border-radius-5px focus-border-dark-gray font-large" />
        </div>
    </div>
</div>
