<div class="project flex-column">
    <div *ngFor="let category of categories">
        <app-category [category]="category"></app-category>
    </div>
    <div class="flex-row">
        <div #newCategoryButton [hidden]="!newCategoryInputHidden" (click)="showNewCategoryInput()" class="font-large font-light-gray hover-cursor-pointer">+ add category</div>
        <input #newCategoryInput [hidden]="newCategoryInputHidden" (keydown.enter)="addCategory(newCategoryInput.value); newCategoryInput.value=''" class="border-radius-5px focus-border-dark-gray font-large"/>
    </div>
</div>
